@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    /* 1. VARIÁVEIS PARA AS ESPESSURAS (FONT-WEIGHT) */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* 2. VARIÁVEL PARA O NOME DA FAMÍLIA DE FONTES */
    --font-family-principal: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../fundos/image-fundo-noticas.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* Mova a imagem para cima usando um valor negativo no segundo parâmetro */
    background-position: center 90px;
}

header {
    max-width: 1730px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 55.37px 89px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;

    ul {
        display: flex;
        gap: 36px;

        li a {
            font-weight: 500;
            font-size: 30px;
            color: #000;
        }
    }

    buttom {
        width: 289px;
        height: 60px;
    }

    button:first-child {
        font-weight: 500;
        font-size: 30px;
        color: #000;
        background-color: transparent;
        border: none;

    }

    button:last-child {
        font-weight: 500;
        font-size: 30px;
        color: #fff;
        border: none;
        border-radius: 25px;
        width: 194px;
        height: 55px;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
        background: #45a353;
    }
}

section {
    max-width: 1730px;
    margin: auto;
    /* Centraliza horizontalmente e remove a margem vertical desnecessária */
    padding: 55.37px 70px;

}

h1 {
    font-weight: 500;
    font-size: 95px;
    text-align: center;
    color: #000;
    margin-top: 64px;
}

h2 {
    width: 461px;
    height: 71px;
    font-weight: 500;
    font-size: 56px;
    color: #092245;
    margin-top: 89px;
    text-decoration: none;
    /* 2. Define o gradiente como imagem de fundo */
    background-image: linear-gradient(90deg, #5173C2, #45A353);
    /* 3. Garante que o fundo apareça apenas abaixo do texto */
    background-size: 100% 5px;
    /* Largura total, altura de 2px */
    background-repeat: no-repeat;
    /* 4. Posiciona o fundo (o sublinhado) */
    /* 100% no eixo Y o move para baixo */
    background-position: 0 100%;
    /* 5. (Opcional) Ajuste para afastar a linha do texto */
    padding-bottom: 2px;
}

.cardRecemVerificadas {
    border-radius: 30px;
    width: 388px;
    height: 526px;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.25);
    background: #fefbfb;
    margin-top: 78px;

    p {
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        color: #000;
        flex-direction: column;
        padding: 0px 15px;
    }

    span {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #000;
        padding: 0px 15px;

    }
}

.cardRecemVerificadas img {
    margin-left: 10px;
    margin-top: 5px;
    /* 2. Define o gradiente como imagem de fundo */
    background-image: linear-gradient(90deg, #5173C2, #45A353);
    /* 3. Garante que o fundo apareça apenas abaixo do texto */
    background-size: 100% 2px;
    /* Largura total, altura de 2px */
    background-repeat: no-repeat;
    /* 4. Posiciona o fundo (o sublinhado) */
    /* 100% no eixo Y o move para baixo */
    background-position: 0 100%;
    /* 5. (Opcional) Ajuste para afastar a linha do texto */
    padding-bottom: 10px;
}

.card1 {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 67px;
}

.card2 {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.EmAlta {
    background-image: url(../fundos/fundoNoticiasEmAlta.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* Mova a imagem para cima usando um valor negativo no segundo parâmetro */
    background-position: center 240px;
}

h3 {
    width: 197px;
    height: 71px;
    font-weight: 500;
    font-size: 56px;
    color: #092245;
    background-image: linear-gradient(90deg, #5173C2, #45A353);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-bottom: 2px;
}

.cardEmAlta {
    border-radius: 30px;
    width: 388px;
    height: 526px;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.25);
    background: #fefbfb;
    margin-top: 78px;

    p {
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        color: #000;
        flex-direction: column;
        padding: 0px 15px;
    }

    span {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #000;
        padding: 0px 15px;
    }
}

.cardEmAlta img {
    margin-left: 10px;
    margin-top: 5px;
    /* 2. Define o gradiente como imagem de fundo */
    background-image: linear-gradient(90deg, #5173C2, #45A353);
    /* 3. Garante que o fundo apareça apenas abaixo do texto */
    background-size: 100% 2px;
    /* Largura total, altura de 2px */
    background-repeat: no-repeat;
    /* 4. Posiciona o fundo (o sublinhado) */
    /* 100% no eixo Y o move para baixo */
    background-position: 0 100%;
    /* 5. (Opcional) Ajuste para afastar a linha do texto */
    padding-bottom: 10px;
}

.card3 {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 67px;
}

.card4 {
    display: flex;
    justify-content: center;
    gap: 28px;
}

h4 {
    font-weight: 500;
    font-size: 56px;
    color: #092245;
    margin-top: 78px;
    text-decoration: underline;
    /* 1. Define o elemento para ocupar apenas a largura do conteúdo */
    display: inline-block;

    /* 2. Remove o sublinhado nativo (se estiver em um link, por exemplo) */
    text-decoration: none;

    /* 3. Define o gradiente como imagem de fundo para a linha */
    background-image: linear-gradient(90deg, #5173C2, #45A353);

    /* 4. Garante que o fundo apareça apenas abaixo do texto */
    background-size: 100% 5px;
    /* Largura 100% do elemento, altura de 2px */
    background-repeat: no-repeat;

    /* 5. Posiciona o fundo (o sublinhado) na parte inferior */
    background-position: 0 100%;

    /* 6. (Opcional) Ajuste para afastar a linha do texto */
    padding-bottom: 2px;
}

.GolpesVerificados {
    background-image: url(../fundos/fundoNoticiasGolpes.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* Mova a imagem para cima usando um valor negativo no segundo parâmetro */
    background-position: center 1250px;
}

.cardGolpesVerificados {
    border-radius: 30px;
    width: 388px;
    height: 526px;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.25);
    background: #fefbfb;
    margin-top: 78px;

    p {
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        color: #000;
        flex-direction: column;
        padding: 0px 15px;
    }

    span {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #000;
        padding: 0px 15px;
    }
}

.cardGolpesVerificados img {
    margin-left: 10px;
    margin-top: 5px;
    /* 2. Define o gradiente como imagem de fundo */
    background-image: linear-gradient(90deg, #5173C2, #45A353);
    /* 3. Garante que o fundo apareça apenas abaixo do texto */
    background-size: 100% 2px;
    /* Largura total, altura de 2px */
    background-repeat: no-repeat;
    /* 4. Posiciona o fundo (o sublinhado) */
    /* 100% no eixo Y o move para baixo */
    background-position: 0 100%;
    /* 5. (Opcional) Ajuste para afastar a linha do texto */
    padding-bottom: 10px;
}

.card5 {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 67px;
}

.card6 {
    display: flex;
    justify-content: center;
    gap: 28px;
}

footer {
    max-width: 1730px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 55.37px 89px;
    background-color: #5173c2;
    /* margin-top: 150px; */
}

.form-box {
    align-items: stretch;
    display: flex;


    h6 {
        font-weight: 500;
        font-size: 38px;
        color: #fff;
    }

    p {
        font-weight: 300;
        font-size: 28px;
        color: #fff;
        margin-top: 10px;
    }

    .input-box input {
        position: relative;
        margin: 5px 0;
        border-style: none;
        border-radius: 15px;
        width: 311px;
        height: 48px;
        background: #fff;
        margin-top: 10px;
    }

    textarea {
        border-radius: 15px;
        width: 360px;
        height: 136px;
        margin-top: 10px;
        font-weight: 400;
        font-size: 25px;
        color: #595959;
        resize: none;
    }

    .input-box input::placeholder {
        margin-right: 21px;
        font-weight: 400;
        font-size: 25px;
        color: #595959;
    }

    button {
        font-weight: 300;
        font-size: 28px;
        color: #fff;
        border-radius: 25px;
        width: 140px;
        height: 48px;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
        background: #45a353;
        margin-top: 20px;
    }
}

.navegacao {

    h6 {
        font-weight: 500;
        font-size: 38px;
        color: #fff;
    }

    ul {
        gap: 39px;

        li a {
            font-weight: 300;
            font-size: 35px;
            color: #fff;
        }
    }
}

.contato {


    ul {
        column-count: auto;
        align-items: center;
        gap: 39px;

        li a {
            font-weight: 300;
            font-size: 35px;
            color: #fff;
        }
    }
}